# output files
/out
/ble.sh
/dist
/wiki
/ext

# edit files
/COMMIT
/[a-zA-Z0-9].txt
/[a-zA-Z0-9].sh
/\*scratch\*

/[A-Z]

# test
/test

# memo
/memo/*.exe
/memo/D0702.HISTFILE*
/memo/D0727.bind.*
/memo/D0857.unbind
/memo/D0857.bind
/memo/D0857.pipe
/memo/D0857.stderr
/memo/D1881/pr227.*.txt
/memo/D1881/pr227.*.hist
/memo/D1881/pr227-sleep-delay.pdf

# make
/make/*.exe
/make/canvas.c2w.wcwidth.txt
