# output files
/out
/ble.sh
/dist
/wiki
/ext
/a.func.txt
/a.line.txt

# edit files
/COMMIT
/[a-zA-Z0-9].txt
/[a-zA-Z0-9].sh
/\*scratch\*
/refact.sh

/[A-Z]
/[a-zA-Z].sh

# test
/test
/bashrc

# memo
/memo/*.exe
/memo/D0702.HISTFILE*
/memo/D0727/D0727.bind.*
/memo/D0857/D0857.unbind
/memo/D0857/D0857.bind
/memo/D0857/D0857.pipe
/memo/D0857/D0857.stderr
/memo/D1881/pr227.*.txt
/memo/D1881/pr227.*.hist
/memo/D1881/pr227-sleep-delay.pdf
/memo/D2014
/memo/D2165/?.txt
/memo/D2207.*.txt
/memo/D2207.*.bk

# make
/make/*.exe
/make/canvas.c2w.wcwidth.txt
/make/*.o

# files for unresolved GitHub Issues
/gh???.*
/gh????.*
/X????.*
/gh???/
/gh????/

# experiment
/lib/*.so
